# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Ambiente
.env
lib/config/env.dart
lib/config/env_dev.dart

# JDK local
jdk17/

# Android
android/.gradle/
android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/key.properties
android/app/*.jks
android/app/*.keystore

# macOS
.DS_Store
