# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Ambiente
.env

# JDK local
jdk17/

# Android
android/.gradle/
android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# macOS
.DS_Store
